/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');*/
@import 'tailwindcss';

@font-face {
	font-display: swap;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Inter-Regular.woff2') format('woff2')
}

@font-face {
	font-display: swap;
	font-family: Inter;
	font-style: bold;
	font-weight: 700;
	src: url('/fonts/Inter-SemiBold.woff2') format('woff2')
}

@font-feature-values Inter {
	@character-variant {
		cv05:5;
		cv08:8;
		cv10:10
	}

	@styleset {
		ss01:1;
		ss08:8
	}
}

:root {
	box-sizing: border-box;
	color: var(--color-gray-800)
}

p, h2 {
	font-family: Inter;
	color: var(--color-gray-600);
	font-size: var(--text-lg);
	font-variant-alternates: character-variant(cv05,cv08,cv10) styleset(ss01,ss08)
}

a:not(.normal) { color: var(--color-blue-600) }
a:not(.normal):hover { text-decoration: underline }
